@import "abstracts/variables";

.users-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;

  &__heading {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__cell {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border: $border-black;
    border-bottom-style: none;
    gap: 2rem;

    @media only screen and (min-width: $bp-small ) {
      &:last-child,&:nth-last-child(2) {
        border-bottom: $border-black;
      }

      &:nth-child(odd) {
        border-left: none;
      }
    }

    @media only screen and (max-width: $bp-small ) {
      grid-column: 1 / -1;
      border: $border-black;
      border-bottom: none;

      &:last-child {
        border-bottom: $border-black;
      }
    }
  }
}
